.logoutButton {
    position: absolute;
    top: 70px;
    right: 225px;
    border-radius: 25px;
    border-style: none;
    background-color: crimson;
    width: 150px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 24px;
    z-index: 2;
}