.header-container {
    width: 100vw;
    height: 150px;
    background: #2A2D34;
}


.header-title {
    height: 150px;
    padding-left: 50px;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
}

.waves{
    width: 100%;
    height: 50vh;
    background-size: cover;
}