.history-item {
    position:relative;
    margin-top: 10px;
    width: 475px;
    height: 50px;
    left: 15px;
    top: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    text-indent: 15px;
}