.history-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 700px;
    left: 50vh;
    top: 237px;

}

.history {
    position: absolute;
    top: 25%;
    
}

.title {
    width: 151px;
    height: 49px;
    left:50%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.backButton {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 150px;
    border-radius: 50%;
    background: #FFFFFF;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 650;
    font-size: 40px;
    line-height: 40px;
    color: black;
}

.history-cards {
    position: absolute;
    width: 500px;
    height: 650px;
    top: 10%;
    background: #FFFFFF;
    border-radius: 5px;
}

/*add to card component */



