
h3 {
    position: absolute;
    left: 50px;
    top: 75px;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
}

.usernameInput {
    position: absolute;
    top: 125px;
    width: 300px;
    height: 50px;
    border-style: none;
    outline-style: none;
    border-radius: 5px;
    background-color: #EEEEEE;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.loginBtn {
    position: absolute;
    width: 150px;
    height: 50px;
    border-style: none;
    border-radius: 5px;
    background-color: #30C5FF;
    bottom: 25px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    scale: 1;
}

.loginBtn:hover {
    filter: brightness(85%);
    transform: scale(105%);
}

.logoHello {
    height: 150px;
    z-index: -1;
}

.login {
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    position: relative;
}

.box-column {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    bottom: 0px;
    background-color: white;
    border-radius: 5px;
}

.box-row {
    position: relative;
}

.box-button {
    display: flex;
    justify-content: center;
}
